/*  
    ? Fonts: Poppins
    ? Color pallete 
    * (#478DDB) Dominant color
    * (#7E7FE8) Complementary color
    * (#EB5386) Accent color
    * (#252525) Black */

html{
  scrollbar-width: normal;
  scrollbar-color: #fff var(--complementary);
}
*{
    box-sizing: border-box;
    /* defining color-scheme */
    --black: #252525;
    --gradient: linear-gradient(to bottom, #478DDB, #7E7FE8, #EB5386);
    --accent: #EB5386;
    --complementary: #7E7FE8;
}
*:before,
*:after{
    box-sizing: border-box;
}
html::-webkit-scrollbar{
  width: 1vw;
}
html::-webkit-scrollbar-thumb{
  background-color: #7E7FE899;
  border-radius: 7px;
  border: .25em solid #fff;

}
html::-webkit-scrollbar-thumb:hover{
  background-color: #7E7FE8;
}
html::-webkit-scrollbar-track{
  background-color: #fff;
  margin-block: .5em;
}

::selection{
  background: var(--accent);
  color: #fff;
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf');
}
@font-face {
  font-family: 'MTN Brighter Sans';
  src: url('../fonts/MTN-Brighter-Sans-Regular.otf');
}
body{
    background: #fff;
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Roboto, sans-serif;;
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'MTN Brighter Sans';
  font-weight: 300;
  line-height: inherit;
  letter-spacing: -1px;
}

h1 {
  color: #292929;
  font-size: 3em;
  margin-bottom: 30px;
}

h2 {
  color: var(--complementary) !important;
  font-size: 2em;
}

h3 {
  color: #505050;
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 0;
}

h4 {
  color: #696969;
  font-size: 18px;
  line-height: normal;
}

p {
  color: #757575;
  font-size: 14px;
  font-weight: normal;
  line-height: 25px;
}

strong {
  font-weight: 500;
}

a {
    color: var(--black);
    font-weight: normal;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none !important;
  }

  a:hover, a:active, a:focus {
    color: var(--accent);
    outline: none;
  }

.section-title {
    margin-bottom: 60px;
  }

  .section-title h2 {
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 0;
  }

  .section-title .line-bar {
    color: #d9d9d9;
    display: block;
    font-size: 5em;
    line-height: 0;
  }
  .section-btn {
    background: var(--accent);
    border: 0;
    border-radius: 100px;
    color: #fff;
    cursor: pointer;
    font-size: inherit;
    font-weight: normal;
    padding: 15px 30px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .overlay {
    background: var(--gradient);
    position: absolute;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
  }

  section {
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
  } 
/* *PRELOADER */

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: var(--gradient);
  }

  .spinner {
    border: 1px solid transparent;
    border-radius: 3px;
    position: relative;
  }

  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45px;
    height: 45px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 10px solid #575757;
    border-top-color: #fff;
    animation: spinner .9s linear infinite;
  }

  @keyframes spinner {
    to {transform: rotate(360deg);}
  }

  .text-gradient{
    font-weight: 800;
    background: linear-gradient(to bottom, #AAA, #EEF);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /*---------------------------------------
      MENU              
  -----------------------------------------*/
  /* Logo */
  .logo{
    height:87px;
    transform:translateX(0px) translateY(-30px);
  }

  @media (max-width:767px){
      .logo{
        position:relative;
        left:325px;
      }
  }
   
   @media (max-width:639px){
      .logo{
        position:relative;
        left:260px;
      }
  }
  .custom-navbar {
    border: none;
    margin-bottom: 0;
    padding: 25px 0;
  }

  .custom-navbar .navbar-brand {
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: -1px;
  }

  .top-nav-collapse {
    background: var(--gradient);
  }

  .custom-navbar .navbar-nav.navbar-nav-first {
    margin-left: 8em;
  }

  .custom-navbar .navbar-nav.navbar-right li a {
    padding-right: 12px;
    padding-left: 12px;
  }

  .custom-navbar .section-btn {
    padding: 15px;
    margin-left: 2em;
  }

  .custom-navbar .section-btn:hover {
    background: var(--black);
}

  .custom-navbar .section-btn a {
    padding: 0;
  }

  .custom-navbar .nav .section-btn a:hover {
    color: #fff;
  }

  .custom-navbar .nav li a {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    letter-spacing: -0.5px;
    padding-right: 22px;
    padding-left: 22px;
  }

  .custom-navbar .nav li a:hover {
    background: transparent;
    color: var(--accent);
  }

  .custom-navbar .navbar-nav > li > a:hover,
  .custom-navbar .navbar-nav > li > a:focus {
    background-color: transparent;
  }

  .custom-navbar .nav li.active > a {
    background-color: transparent;
    color: var(--accent);
  }

  .custom-navbar .navbar-toggle {
    border: none;
    padding-top: 10px;
  }

  .custom-navbar .navbar-toggle {
    background-color: transparent;
  }

  .custom-navbar .navbar-toggle .icon-bar {
    background: var(--complementary);
    border-color: transparent;
  }
  .smoothScroll.navbar-link{
    font-weight: 660 !important;
    text-transform: uppercase;
  }
  @media(min-width:768px) {
    .custom-navbar {
      border-bottom: 0;
      background: 0 0; 
    }

    .custom-navbar.top-nav-collapse {
      background: #fff;
      -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      padding: 12px 0;
      animation: ease 1s;
    }

    .top-nav-collapse .navbar-brand {
      color: var(--complementary) !important;
    }

    .top-nav-collapse .nav li a {
      color: var(--black);
    }

    .top-nav-collapse .nav .section-btn a {
      color: #fff;
    }
  }
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 28px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
  }
  
  .navbar .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-weight: 400;
    color: var(--black);
  }
  
  .navbar .dropdown ul a i {
    font-size: 12px;
  }
.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: var(--accent);
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}
.navbar li{
  list-style-type: none;
}
#home {
    background: url('../images/istockphoto-1341976416-170667a.jpg') no-repeat center center;
    background-size: cover;
    vertical-align: middle;
    display: flex;
    align-items: center;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    padding-top: 10em;
    text-align: left;
  }
  #home h1 {
    color: #fff;
  }

  .home-info .section-btn {
    background: transparent;
    border: 2px solid #f9f9f9;
    color: #f9f9f9;
  }

  .home-info .section-btn:hover,
  .home-info .section-btn:focus {
    background: var(--accent);
    border-color: transparent;
    color: #fff;
  }

  .home-info span {
    display: inline-block;
    vertical-align: middle;
    color: #f9f9f9;
    font-weight: 500;
    margin-left: 20px; 
  }

  .home-info span small {
    display: block;
  }

  /* -----------------
      SHOWCASE
  ------------------*/

  .showcase{
    background: none !important;
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
  }

  #image-track > .image{
    width: 40vmin;
    height: 65vmin;
    object-fit: cover;
    object-position: 50%;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}
#image-track{
    display: flex;
    gap: 4vmin;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
}

@media (max-width:1366px){

  .showcase h1{
   left:462px;
  }
  
 }
 
 @media (max-width:1170px){
 
  .showcase h1{
   left:380px;
  }
  
 }
 
 @media (max-width:991px){
 
  .showcase h1{
   left:-142px;
  }
  
 }
 
 @media (max-width:900px){
 
  .showcase h1{
   left:-89px;
  }
  
 }
 
 @media (max-width:767px){
 
  .showcase h1{
   left:-370px;
  }
  
 }
 
 @media (max-width:639px){
 
  .showcase h1{
   left:-319px;
  }
  
 }
 
 @media (max-width:425px){
 
  /* Logo */
  .logo{
   left:160px;
  }
  
  .showcase h1{
   left:-190px;
  }
  
 }
 
 @media (max-width:375px){
 
  /* Logo */
  .logo{
   left:130px;
  }
  
  .showcase h1{
   left:-165px;
  }
  
 }
 
 @media (max-width:326px){
 
  /* Logo */
  .logo{
   left:105px;
  }
  
  .showcase h1{
   left:-132px;
  }
  
 }
@media (max-width:991px){
  .showcase h1{
   left:-200px;
  }
  
 }

.showcase h1{
  position:relative;
  top:-30px;
  left:259px;
  display:inline;
 }
 
 @media (max-width:1170px){
 
  .showcase h1{
   left:380px;
  }
  
 }
 
 @media (max-width:991px){
 
  .showcase h1{
   left:-142px;
   top:-30px;
  }
  
 }
 
 @media (max-width:900px){
 
  .showcase h1{
   left:-89px;
  }
  
 }
 
 @media (max-width:767px){
 
  .showcase .container .row .showcase-dir h1{
   right:auto !important;
  }
  
  .showcase h1{
   left:-371px;
  }
  
 }
 
 @media (max-width:639px){
 
  .showcase h1{
   left:-319px;
  }
  
 }
/*---------------------------------------
      ABOUT              
  -----------------------------------------*/
  #about {
    text-align: left;
    padding-bottom: 0;
  }

  #about .about-info:first-child {
    margin-right: 40px;
  }

  .about-info .section-title {
    margin: 40px 0 40px 0;
  }

  .about-info {
    margin-top: 60px;
  }

  .skill-thumb strong {
    display: inline-block;
    margin-bottom: 10px;
  }

  .skill-thumb .progress {
    background: #fff;
    border-radius: 5px;
    box-shadow: none;
    height: 3px;
    margin-bottom: 25px;
  }

  .skill-thumb .progress-bar {
    background: var(--black);
    box-shadow: none;
  }

  .work-info img {
    width: 100%;
    border-radius: 100%;
  }

  #work .work-thumb {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius: 3px;
    
  }
  #work{
    background: #404241 !important;
  }
  .work-thumb .work-info {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .work-thumb .work-info:after {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    content: "";
    background: var(--accent);
    opacity: 0;
    transition: 0.5s;
  }

  .work-thumb .work-info:hover::after {
    opacity: 0.9;
  }

  .work-thumb .work-info h3,
  .work-thumb .work-info small {
    transform: translateY(100%);
    opacity: 0;
    display: block;
    transition: 0.5s 0.2s;
    color: #fff;
    z-index: 2;
    position: relative;
  }

  .work-thumb .work-info small {
    color: #d9d9d9;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 3px;
  }

  .work-thumb:hover .work-info h3,
  .work-thumb:hover .work-info small {
    transform: translateY(0px);
    opacity: 1;
  }


/* ABOUT */

#blog-header,
  #blog-detail {
    text-align: left;
  }

  #blog-header {
    background: url('../images/site3.jpg') no-repeat center center;
    background-size: cover;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 65vh;
    color: #ffffff;
    position: relative;
    padding-top: 12em;
  }

  #blog-header h2 {
    color: #fff !important;
  }


























  footer {
    background: linear-gradient(to right, #434343, var(--black)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
    padding-top: 80px;
    padding-bottom: 60px;
  }

  footer h2 {
    color: #fff;
  }

  .footer-link {
    margin: 0;
    padding: 0;
  }

  .footer-link li {
    display: block;
    list-style: none;
    margin: 5px 10px 5px 0;
  }

  footer p,
  footer span,
  .footer-link li a {
    color: #d9d9d9;
  }

  .copyright-text p,
  .footer-bottom .phone-contact p {
    font-size: 14px;
  }

  .footer-info p {
    margin-right: 4em;
  }

  .footer-bottom {
    border-top: 1px solid rgba(255,255,255,0.1);
    margin-top: 5em;
    padding-top: 3em;
  }

  .footer-bottom .phone-contact,
  .footer-bottom .social-icon {
    display: inline-block;
    vertical-align: top;
  }

  .footer-bottom .phone-contact {
    margin-right: 40px;
  }

  .footer-bottom .phone-contact span {
    font-weight: 500;
    display: inline-block;
    margin-left: 10px;
  }


  /*---------------------------------------
     SOCIAL ICONS           
  -----------------------------------------*/

  .social-icon {
    position: relative;
    padding: 0;
    margin: 0;
  }

  .social-icon li {
    display: inline-block;
    list-style: none;
  }

  .social-icon li a {
    border-radius: 100px;
    color: #d9d9d9;
    font-size: 15px;
    text-decoration: none;
    position: relative;
    margin: 5px 10px;
  }

  .social-icon li a:hover {
    color: var(--accent);
  }


 /*---------------------------------------
     RESPONSIVE STYLES              
  -----------------------------------------*/

  @media screen and (max-width: 1170px) {

    .custom-navbar .navbar-nav.navbar-nav-first {
      margin-left: inherit;
    }
  }

  @media screen and (max-width: 991px) {

    h3 {
      font-size: 1.2em;
    }

    p {
      font-size: 13px;
    }

    #home {
      text-align: center;
    }

    .home-info {
      margin-bottom: 3em;
    }

    .custom-navbar .nav li a {
      font-size: 13px;
      padding-right: 11px;
      padding-left: 11px;
    }

    .custom-navbar .section-btn {
      margin-left: 1em;
    }

    .blog-thumb {
      height: inherit;
    }

    .blog-info {
      padding: 45px 25px;
    }

    .media.blog-thumb .media-left {
      display: block;
      width: 100%;
      padding-right: 0;
      overflow: hidden;
    }

    .media.blog-thumb .media-left {
      height: 250px;
    }

    .media.blog-thumb .media-left img {
      position: relative;
      bottom: 10em;
    }

    #work .work-thumb,
    .footer-thumb {
      margin-top: 20px;
      margin-bottom: 30px;
    }
  }

  @media only screen and (min-width: 640px) and (max-width: 767px) {

    #blog-header {
      height: 100vh;
    }

    .media.blog-thumb .media-left {
      height: 550px;
    }

    .media.blog-thumb .media-left img {
      position: relative;
      bottom: 10em;
    }
  }

  @media screen and (max-width: 767px) {

    .custom-navbar {
      background: #fff;
      -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      padding: 10px 0;
    }

    .custom-navbar .nav li a {
      line-height: normal;
      padding: 5px;
    }

    .custom-navbar .navbar-brand,
    .top-nav-collapse .navbar-brand {
      color: var(--complementary);
      font-weight: 600;
    }

    .custom-navbar .nav li a,
    .top-nav-collapse .nav li a {
      color: var(--black);
    }

    .custom-navbar .navbar-nav.navbar-right li {
      display: inline-block;
    }

    .custom-navbar .section-btn {
      display: block !important;
      width: 50%;
      margin: 10px auto 10px auto;
      padding: 10px;
    }

    .custom-navbar .section-btn a {
      color: #fff !important;
    }

    .home-info span {
      margin-top: 20px;
    }

    #about .about-info:first-child {
      margin-right: 0;
    }

    .about-info {
      margin: 40px 0 40px 0;
    }

    footer {
      text-align: center;
    }

    .footer-info p,
    .footer-bottom .phone-contact {
      margin-right: 0;
    }
  }

  @media screen and (max-width: 639px) {

    h1 {
      font-size: 2em;
    }

    .media.blog-thumb .media-left {
      height: 320px;
    }

    .media.blog-thumb .media-left img {
      position: relative;
      bottom: 6em;
    }
    
  }


  /*---------------------------------------
      MODAL FORM             
  -----------------------------------------*/

  @media (min-width: 992px) {
    .modal-dialog {
      width: 420px;
    }
  }

  .modal-open .modal {
    padding-left: 0 !important;
    overflow-y: hidden !important;
  }

  .modal-dialog .modal-content {
    background: linear-gradient(to right, #434343, var(--black));    
    border: none;
    border-radius: 12px;
    text-align: center;
    position: relative;
    padding: 2em;
  }

  .modal-header, .modal-footer {
    border-bottom: 0;
    padding: 0;
  }

  .modal-dialog .modal-body {
    padding: 0;
  }

  .modal-dialog .modal-body a {
    color: #d9d9d9;
  }

  .modal .close {
    color: #999;
    font-size: 40px;
    font-weight: 300;
    text-shadow: none;
    opacity: 1;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 100;
    outline: none;
  }

  .modal-dialog .modal-title {
    margin-bottom: 15px;
  }

  .modal-dialog .modal-title h2 {
    color: #fff;
  }

  .modal-dialog .nav-tabs {
    display: inline-block;
  }

  .modal-dialog .nav-tabs > li > a {
    border: 0;
    color: #999;
    margin-right: 0;
  }

  .modal-dialog .nav-tabs > li.active > a, 
  .modal-dialog .nav-tabs > li.active > a:hover, 
  .modal-dialog .nav-tabs > li.active > a:focus,
  .modal-dialog .nav > li > a:focus, 
  .modal-dialog .nav > li > a:hover {
    color: #fff;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--accent);
  }

  .modal-dialog .tab-content {
    padding-top: 20px;
  }

  .modal-dialog form .form-control {
    border-radius: 5px;
    border: 1px solid #595959;
    background: transparent;
    box-shadow: none;
    margin: 15px 0 15px 0;
    height: 50px;
  }

  .modal-dialog form .form-control:hover,
  .modal-dialog form .form-control:focus {
    border-color: #fff;
  }

  .modal-dialog form input[type="submit"] {
    background: var(--accent);
    border-color: transparent;
    border-radius: 100px;
    color: #fff;
    margin-top: 20px;
  }
/* showcase */
.showcase-dir{
    align-items: center;
    justify-content: center;
    height: 50em;
    width: 100vw;
    flex-direction: row;
    color: #fff;
    position: fixed;
    transform: translate(9%, 30%);

}
.showcase-dir > h1 > i:hover{
        
}